@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Open+Sans:wght@400;700&family=Rubik:wght@400;500;700&family=Staatliches&display=swap');

html,
body {
    background: #EDEAE5;
}
#root,
.app {
    height: 100%;
    width: 100%;
    font-family: "Lato", sans-serif;
}

.flexBetweenCenter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.widgetWrapper {
    padding: "1.5rem 1.5rem 0.75rem 1.5rem";
    background-color: aqua;
    border-radius: ".75rem";
}

#light {
    background-color: #EDEAE5;
    color: #34363b;

}

#dark {
    background-color: #34363b;
    color: #EDEAE5;

}

#dark .cardBg {
    background-color: #64748b;
}

#light .allText {
    color: #34363b;
}

#dark .allText {
    color: #EDEAE5;
}

#dark .login-container {
    background-color: #1f2937;
    border-color: #374151;
    border-width: 1px;
}

#dark .remember-text {
    color: #d1d5db;
}

#dark .forgot-password-text {
    color: #3b82f6
}

#dark .form-input {
    background-color: #374151;
}

/* Media Queries */

@media screen and (min-width: 600px) {
    
}