@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Open+Sans:wght@400;700&family=Rubik:wght@400;500;700&family=Staatliches&display=swap');

html,
body,
#root,
.app {
    height: 100%;
    width: 100%;
    font-family: "Lato", sans-serif;
}

#light {
    background-color: #EDEAE5;
}

#dark {
    background-color: #34363b;
}

#light .allText {
    color: #34363b;
}

#dark .allText {
    color: #EDEAE5;
}